:root{
    /* Sizes */
    --Heigth-Nav: 100px;

    /* Colors */
    --Primary-Color: #032132;
    --Ligth-Primary-Color: #023347;
    --Secundary-Color: #2A8E9E;
    --Tertiary-Color: #b6b6b6;
    --Background-Color: #fafcfc;
    --Background-Header: #f2f6f6;

    /* Font */
    --Font: "Poppins"

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Font);
}

/* Header */
.Header{
    padding: 20px 150px;
    background-color: var(--Background-Header);
}

/* Header - NavBar */
.Header__Nav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* NavBar - Header__Nav-Div */
.Header__Nav-Div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.Header__Nav-Logo{
    display: block;
    width: 48px;
    border-radius: 8px;
}

.Header__Nav-Title{
    color: var(--Primary-Color);
    font-size: 2rem;
    font-weight: 600;
}

/* NavBar - Header__Nav-List */
.Header__Nav-List{
    display: flex;
    grid-column: 2/4;
    list-style: none;
    gap: 40px;
    align-items: center;
}

.Header__Nav-Links{
    text-decoration: none;
    color: var(--Primary-Color);
    font-size: 1.1rem;
    font-weight: 500;
}

/* NavBar - Header__Nav-Buttons */
.Header__Nav-Buttons{
    display: flex;
    gap: 20px;
    justify-self: end;
}

.Header__Nav-Button{
    font-family: var(--Font);
    background-color: transparent;
    color: var(--Primary-Color);
    padding: 15px 35px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 15px;
    border: 2px solid #2c2c2c31;
}

.Button__Register{
    color: #fff;
    background-color: var(--Secundary-Color);
    border: none;
}




/* Hero */
.Hero{
    background-color: var(--Background-Header);
    display: grid;
    height: 100vh;
    padding: 0.1px 150px;
    grid-template-columns: repeat(2,1fr);
}

/* Hero - Hero__Container */
.Hero__Container{
    padding: 80px 20px;
}

.Hero__Container-Tittle{
    color: var(--Primary-Color);
    font-size: 3.8rem;
    font-weight: 600;
}

.Hero__Container-SubTittle{
    color: var(--Primary-Color);
    font-size: 3.8rem;
    font-weight: 500;
}

.Hero__Container-Paragraph{
    color: #2c2c2cb9;
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0;
}

/* Hero - Hero__Container-ContactUs */
.Hero__Container-ContactUs{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    padding: 3px;

    max-width: 600px;
    border: 2px solid #2c2c2c31;
    border-radius: 18px;
}

.Hero__Container-Input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 24px;
    font-size: 17px;
    font-weight: 500;
    background: transparent;
}

.Hero__Container-Input::placeholder{
    color: #2c2c2c79;
}

.Hero__Container-Button{
    background: var(--Secundary-Color);
    color: white;
    display: flex;

    padding: 18px 30px;
    gap: 8px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 15px;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}

.Hero__Container-Icon{
    width: 25px;
    height: 25px;
    stroke: currentColor;
    stroke-width: 2;
}


/* Hero - Hero__Container-Sponsor */
.Hero__Container-Sponsor{
    display: flex;
    max-width: 680px;
    justify-content: space-between;
}

.Hero__Container-Link{
    color: var(--Primary-Color);
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
}


/* Hero - Hero__Container */
.Hero__Container:nth-child(2){
    position: relative;
}

/* Hero - Container__Form */
.Container__Form{
    background-color: var(--Background-Color);

    width: 480px;
    max-width: 480px;
    padding: 35px;
    border-radius: 30px;

    position: absolute;
    z-index: 1;
    top: 140px;
    left: 120px;

    box-shadow: 5px 8px 19px -5px rgba(0,0,0,0.5);
}

.Container__Form-User{
    display: flex;
    align-items: center;
}

.Container__Form-Img{
    display: block;
    width: 65px;
    border-radius: 18px;
}

.Container__Form-Name{
    font-size: 18px;
    font-weight: 700;
}

.Container__Form-Email{
    font-size: 18px;
}

/* Hero - Container__Form-Price */
.Container__Form-Price{
    margin: 20px 0;
    padding: 20px 25px;
    border: 2px solid var(--Tertiary-Color);
    border-radius: 20px;
}

.Container__Form-Tittle,
.Container__Form-Date{
    font-size: 18px;
}

.Container__Form-Value{
    font-size: 40px;
    font-weight: 600;
}


/* Hero - Container__Form-Options */
.Container__Form-Options{
    display: flex;
    margin: 20px 0;
    padding: 20px 25px;
    border: 2px solid var(--Tertiary-Color);
    border-radius: 20px;
    justify-content: space-between;
}

.Container__Form-Info{
    display: flex;
}

.Container__Form-Logo{
    margin-right: 20px;
}

.Img__Options{
    display: block;
    width: 30px;
}

.Container__Form-Text{
    font-size: 18px;
    font-weight: 500;
}

.Container__Form-Check{
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
}

/* Hero - Container__Form-Pay */
.Container__Form-Pay{
    margin: 20px 0 0;
}

.Container__Form-Button{
    color: var(--Background-Header);
    background-color: var(--Ligth-Primary-Color);

    font-size: 18px;
    width: 100%;
    padding: 17px;

    border: none;
    border-radius: 20px;
}


/* Hero - Container__Card */
.Container__Card{
    display: flex;
    flex-direction: column;
    background-color: var(--Secundary-Color);
    width: 280px;
    max-width: 280px;

    height: 380px;

    border-radius: 30px;
    justify-content: space-between;

    position: absolute;
    z-index: 2;
    top: 70px;
    right: 80px;

    box-shadow: 10px 9px 7px -3px rgba(0,0,0,0.23);
}

.Container__Card-Data{
    padding: 30px;
}

.Container__Card-Text{
    color: var(--Background-Header);
    font-size: 18px;
}


.Container__Card-Number{
    color: var(--Background-Header);
    font-size: 30px;
    font-weight: 600;
}

.Container__Card-Img{
    display: flex;
    padding: 10px 30px;
    background-color: var(--Ligth-Primary-Color);

    border-radius: 0 0 30px 30px;
    justify-content: space-between;
}

.Img{
    display: block;
    width: 80px;
}

.Img__two{
    padding: 20px 0;
    display: block;
    width: 40px;
}


